.root {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #eee;
}

.label {
    -fx-text-fill: #eee;
}

.button {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #eee;
    -fx-border-color: #444;
}

.grid-pane {
    -fx-background-color: #333;
}